/* Style file for Trivia game */


body {
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
}

#myJumbotron {
    padding: 10px 0 10px 0; /* reduces size of jumbotron */
}


#jumbotronBox {
    background: lightgray;
    text-align:center;
}

.screenStyle {
    background:lightblue;
    border: 5px;
    border-color: darkblue;
    border-style:solid;
    border-radius:10px;
}

.answerButton {
    background: lightblue;
}

.answerButton:hover {
    background: darkblue;
    color: white;
}